.bg-five {
  background: linear-gradient(rgba(#000, .7), rgba(#000, .7)), url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#form-transition {
  animation: form-input-scale 1.5s linear;
}

.screen-five {
  overflow: auto;
  display: grid;
  align-content: center;

  &__contact-heading {
    grid-row: 1;
    grid-column: 1 / -1;
    text-align: center;
    color: white;
  }

  &__contact-form {
    display: grid;
    grid-row: 2;
    grid-column: 1 / -1;
    align-items: center;
    border-bottom: 5px solid white;
    padding: 4rem 15rem;

    .form-group {
      .form-control {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;

        .form-control-lg {
          border: 1px solid blue;
        }
      }

      label[for=name] {
        color: white;
        font-weight: 700;
      }

      input {
        color: white;
      }
    }

    .btn {
      color: white;
      font-size: 2rem;
    }

    form {
      input {
        &.btn {
          background: $primary-purple;
          width: 35rem;
          text-align: center;
          margin: 4rem auto 0;
        }
      }
    }

    .--submit-btn {
      // background: $primary-purple;
      // // width: 35rem !important;
      // width: 35rem;
      // text-align: center !important;
      // margin: 4rem auto 0 !important;
    }
  }

  &__social-media {
    grid-column: 1 / -1;
    grid-row: 3;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;

    .circle {
      height: 8rem;
      width: 8rem;
      margin: 3rem 0;
      background-color: white;
      border-radius: 50%;

      .fab {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
}
@media screen and (max-width: 56.25em) {}