.screen-four {
  padding: 2rem;

  &__content {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  &__user-profiles-container {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    align-items: start;

    i {
      font-size: 10rem;
      border: 1px solid red;
    }
  }

  .card {
    border: 1px solid red;
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    display: flex;
    // justify-items: center;
    align-items: center;
  }
}