.member-modal {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  &__title {
    font-weight: 700;
  }

  &__content {
    grid-column: 2 / -1;
    grid-row: 2 / 6;
    padding: 2rem;
    z-index: 10;
  }
  // &__aside
  &__img {
    grid-column: 1 / 2;
    width: 25rem;
    border-radius: 50%;
    position: absolute;
    top: 6rem;
  }
}
@include respond(media-md) {
  .member-modal {
    align-content: center;

    &__content {
      grid-column: 1 / -1;
      grid-row: 2 / -1;
      overflow: auto;
      text-align: center;
    }

    &__img {
      position: relative;
      grid-column: 2 / 6;
      grid-row: 1;
      top: 0;
      width: 100%;
    }
  }
}