@keyframes blink {
  0%,
  100%,
  19.999%,
  22%,
  45%,
  62.999%,
  64%,
  64.999%,
  70%,
  85% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 var(--outline), 1px -1px 0 var(--outline), -1px 1px 0 var(--outline), 1px 1px 0 var(--outline), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
  }

  0%,
  100%,
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999%,
  80% {
    opacity: 0.4;
    text-shadow: none;
  }
}
@keyframes test {
  0% {
    // animation-delay: 1.2s;
    transform-origin: right;
    transform: scaleX(0);
  }

  30% {}

  100% {
    transform: scale(1);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.menu-container {
  position: relative;
  font-size: 4rem;
  font-family: $terminalFont;
  font-weight: 400;

  .logo {
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 2;
  }

  ul {
    position: fixed;
    right: 0;
    color: lightGrey;
    z-index: 2;
    margin: 0 20px 0 auto;
    animation: moveInTop 1s linear;

    i {
      cursor: pointer;
    }
  }
}

.alien-logo {
  height: 10rem;
}

.menu-list {
  border: 1px solid lightGrey;
  width: 35rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 13rem;
  background-color: black;
  z-index: 99;
  // animation: test 1s ease-in-out;
  a {
    color: lightGrey;

    &:hover {
      color: $primary-purple;
    }

    &.active {
      animation: blink 1.5s ease-in-out infinite;
    }

    &.active:not(.logo)::before {
      font-family: $terminalFont;
      content: "718:$";
      position: absolute;
      left: 2rem;
      color: $primary-purple;
    }
  }

  i {
    position: absolute;
    left: 2rem;
    top: 2rem;
  }
}

.menuTest .fas,
.menuTest a {
  cursor: pointer;
}