.menu-container {
  position: relative;
  font-size: 4rem;
  font-family: $terminalFont;
  font-weight: 400;
  opacity: 0.8;
  z-index: 100;

  .logo {
    position: fixed;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 2;
  }

  ul {
    position: fixed;
    right: 0;
    color: lightGrey;
    z-index: 2;
    animation: moveInTop 1s linear;
    // width: 10%;
    // text-align: center;
    top: 5%;

    i {
      cursor: pointer;
    }
  }
}

.center-menu {
  width: 10%;
  text-align: center;
}

.alien-logo {
  height: 10rem;
}

.menu-list {
  border: 1px solid lightGrey;
  width: 35rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 13rem;
  background-color: black;
  z-index: 99;

  a {
    color: lightGrey;

    &:hover {
      color: $primary-purple;
    }

    &.active {
      animation: blink 1.5s ease-in-out infinite;
    }

    &.active:not(.logo)::before {
      font-family: $terminalFont;
      content: "718:$";
      position: absolute;
      left: 2rem;
      color: $primary-purple;
    }
  }

  i {
    position: absolute;
    left: 2rem;
    top: 2rem;
  }
}

.menuTest .fas,
.menuTest a {
  cursor: pointer;
}
//

.scale-in-tr {
  animation: scale-in-tr 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}
//--
.scale-out-tr {
  animation: scale-out-tr 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}