.section-scroll-arrow {
  font-size: 5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, 0%);
  cursor: pointer;
}

.scroll-to-top-arrow {
  color: #777;
  position: fixed;
  right: 1rem;
  bottom: 3rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 100%;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 3px 8px rgba(0,0,0,.28);
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 99;
}
