/* ScreenFour */
.section-box.screen-four-content {
  padding: 2rem;
}

.user-profiles-container {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  align-items: start;
}

.user-profiles-container i {
  font-size: 10rem;
  border: 1px solid red;
}
/* ScreenFive */
.contact-heading {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.five-left {
  grid-row: 3 / -1;
  grid-column: 1 / 5;
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: 5px solid white;
}

.five-right {
  grid-row: 3 / -1;
  grid-column: 5 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.five-right .circle {
  height: 8rem;
  width: 8rem;
  margin: 3rem 0;
  background-color: white;
  border-radius: 50%;
}