.tech-modal {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120rem;
  height: 80rem;
  background: rgba(#000, 0.4);
  padding: 5rem;
  color: white;
  font-weight: 500;
  top: 0;
  transition: top 500ms ease-in-out;

  &.ReactModal__Content--after-open {
    top: 50%;
  }

  &.ReactModal__Content--before-close {
    top: 0;
  }
}

.modal-outline {
  border: 2px solid white;
  box-shadow: inset 0 0 1.5rem white, 0 0 1.5rem white;
  height: 100%;
  display: grid;
  // grid-template-columns: 1fr 2fr;
  // grid-template-areas: 'title title''img info' 'client tech';
  grid-template-rows: min-content repeat(2, 1fr);
  grid-template-areas: 'title' 'img' 'info' 'client' 'tech';
  // grid-template: var(--template-rows) / var(--template-cols);
  padding: 3rem;
  // overflow-y: auto;
  // overflow-y: scroll;
  overflow: auto;
}

.modal-title {
  grid-area: title;
}

.project {
  grid-area: img;
  border: 1px solid red;
  // background-color: blue;
  background: url("https://images.unsplash.com/photo-1486475554424-2fa50cd59f18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=044e51f329bf5dab235887d9b4e46332&auto=format&fit=crop&w=1351&q=80");
  background-size: cover;
  height: 20rem;
  padding: 2rem;
}

.project-description {
  grid-area: info;
  // border: 5px solid yellow;
}

.client {
  grid-area: client;
  border: 5px solid blue;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: repeat(5, 1fr);

  .b {
    grid-row: 2;
    grid-column: 1 / 5;
    // background-color: red;
    // background: url("https://images.unsplash.com/photo-1486475554424-2fa50cd59f18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=044e51f329bf5dab235887d9b4e46332&auto=format&fit=crop&w=1351&q=80");
    // background-size: cover;
    padding: 2rem;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.tech {
  grid-area: tech;
  border: 5px solid orangered;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.modal-close-btn {
  position: absolute;
  right: -1rem;
  top: -25px;
  font-size: 3rem;
  border-radius: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
}
//Tech media queries
@media (min-width: 500px) {
  .modal-outline {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'title title''img info' 'client tech';
  }
}
//--

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 500ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}