*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  background-image: url("../src/imgs/logo.png");
  // background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url("https://media.giphy.com/media/26tPbLsr9oE72erjG/giphy.gif");
  // background: url('https://media.giphy.com/media/l4pSXyy8MFv3atNHW/giphy.gif');
  // background-size: cover;
  // background-color: lighten($primary-purple, 10%);
  // background-color: transparent;
  // -webkit-backface-visibility: hidden;
}

:root {
  // --template-rows: repeat(8, minmax(min-content, 1fr));
  // --template-rows: 1fr repeat(8, min-content) 1fr;
  // --template-rows: repeat(8, min-content);
  // --template-cols: minmax(1rem, 5rem) repeat(8, minmax(min-content, 15rem)) minmax(1rem, 5rem);
  // --template-cols: repeat(8, 1fr);
  --primary-purple: #6b579d;
}
//

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

#time-display {
  font-size: $default-font-size;
  margin-bottom: 0.5rem;
}
// view

.view-container {
  position: relative;
  height: 100vh;
}
//global classes
.clip-test {
  height: 100%;
position: absolute;
  width: 80%;
  left: 10%;
  // outline: 2px;
  // z-index: 92;
  // background-color: red;
  // border: 10px solid gold;
  border: 2px solid white;
  box-shadow: inset 0 0 1.5rem white, 0 0 1.5rem white;
  // margin: 0 .2rem;
  animation: silverBox 3s ease-in-out;
}

@keyframes silverBox {
  0% {
    clip-path: inset(0% 40% 99% 40%);
    // clip-path: inset(0% 0% 99% 0%)
    // clip-path: inset(0% 50% 99% 50%);
    // clip-path: inset(0% 100% 48% 100%);

 }
 30% {
   clip-path: inset(0% 1% 99% 1%);
 }
  66% {
    // clip-path: inset(0% 0% 99% 0%);
    // clip-path: inset(10% 50% 99% 10%);
    clip-path: inset(0% 0% 25% 0%);

  }
  // 75% {
  //   clip-path: inset(0% 0% 15% 0%);
  //
  // }
  85% {
    clip-path: inset(0% 0% 5% 0%);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);

  }
}

.section-box {
  // border: 2px solid white;
  // box-shadow: inset 0 0 1.5rem white, 0 0 1.5rem white;
  font-size: 2rem;
  // height: 65%;
  height: 100%;
  // top: 20%;
  position: inherit;
  width: 80%;
  left: 10%;
  display: grid;
  // grid-template: var(--template-rows) / var(--template-cols);
  grid-template: $template-rows / $template-cols;
  overflow: auto;
  z-index: 9;
  // outline: 25px solid red;
  &.--align_content {
    align-content: center;
  }
}

#form-transition {
  animation: animate 1.5s linear;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.section-title {
  color: $primary-purple;
  font-size: 4rem;
  font-weight: 700;
}
