*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  // background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url("https://media.giphy.com/media/26tPbLsr9oE72erjG/giphy.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

:root {
  --template-rows: repeat(8, minmax(min-content, 1fr));
  --template-cols: repeat(8, 1fr);
  --primary-purple: #6b579d;
}
//

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.--purple {
  background: $primary-purple;
}
//

#scroll-container {
  // border: 10px solid orange;
}
// view

.view-container {
  position: relative;
  height: 100vh;
  // height: 100%;
  // border: 5px solid green;
}

.section-box {
  border: 2px solid white;
  box-shadow: inset 0 0 1.5rem white, 0 0 1.5rem white;
  font-size: 2rem;
  height: 65%;
  top: 20%;
  position: inherit;
  width: 80%;
  left: 10%;
  display: grid;
  grid-template: var(--template-rows) / var(--template-cols);
  // overflow-y: auto;
  overflow-y: scroll;
  // Scroll bar styles
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 4px;
    background-color: darken($primary-purple, 20%);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
}
// TECH MODAL

.tech-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 120rem;
  height: 80rem;
  background: rgba(#000, 0.1);
  padding: 5rem;
  // z-index: 200;
  // ---
}

.modal-outline {
  border: 2px solid white;
  box-shadow: inset 0 0 1.5rem white, 0 0 1.5rem white;
  height: 100%;
  display: grid;
  // grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content repeat(2, 1fr);
  // grid-template-areas: 'title title''img info' 'client tech';
  grid-template-areas: 'title' 'img' 'info' 'client' 'tech';
  // grid-template: var(--template-rows) / var(--template-cols);
  padding: 3rem;
  // overflow-y: auto;
  // overflow-y: scroll;
  overflow: auto;
}

.modal-title {
  grid-area: title;
}

.project {
  grid-area: img;
  border: 1px solid red;
  // background-color: blue;
  background: url("https://images.unsplash.com/photo-1486475554424-2fa50cd59f18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=044e51f329bf5dab235887d9b4e46332&auto=format&fit=crop&w=1351&q=80");
  background-size: cover;
  height: 20rem;
  padding: 2rem;
}

.project-description {
  grid-area: info;
  border: 5px solid yellow;
}

.client {
  grid-area: client;
  border: 5px solid blue;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: repeat(5, 1fr);

  .b {
    grid-row: 2;
    grid-column: 1 / 5;
    // background-color: red;
    // background: url("https://images.unsplash.com/photo-1486475554424-2fa50cd59f18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=044e51f329bf5dab235887d9b4e46332&auto=format&fit=crop&w=1351&q=80");
    // background-size: cover;
    padding: 2rem;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.tech {
  grid-area: tech;
  border: 5px solid orangered;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.modal-close-btn {
  position: absolute;
  right: -1rem;
  top: -25px;
  font-size: 3rem;
  border-radius: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
}
//Tech media queries
@media (min-width: 500px) {
  .modal-outline {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'title title''img info' 'client tech';
  }
}

.scroll-bar-wrap {
  // background-color: #F5F5F5;
  // float: left;
  // height: 300px;
  // margin-bottom: 25px;
  // margin-left: 22px;
  // margin-top: 40px;
  // width: 100%;
  // overflow-y: scroll;
}
//
// .force-overflow {
//   min-height: 500px;
// }
//
// .cover-bar {
//   position: absolute;
//   background: #fff;
//   height: 100%;
//   top: 0;
//   right: 0;
//   width: 0.4em;
//   -webkit-transition: all 0.5s;
//   opacity: 0;
// }
//
// .scroll-bar-wrap:hover .cover-bar {
//   opacity: 1;
//   -webkit-transition: all 0.5s;
// }