*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  background-image: url("../src/imgs/logo.png");
  // background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url("https://media.giphy.com/media/26tPbLsr9oE72erjG/giphy.gif");
  // background: url('https://media.giphy.com/media/l4pSXyy8MFv3atNHW/giphy.gif');
  // background-size: cover;
  // background-color: lighten($primary-purple, 10%);
  // background-color: transparent;
  // -webkit-backface-visibility: hidden;
}

:root {
  // --template-rows: repeat(8, minmax(min-content, 1fr));
  // --template-rows: 1fr repeat(8, min-content) 1fr;
  // --template-rows: repeat(8, min-content);
  // --template-cols: minmax(1rem, 5rem) repeat(8, minmax(min-content, 15rem)) minmax(1rem, 5rem);
  // --template-cols: repeat(8, 1fr);
  --primary-purple: #6b579d;
}
//

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

#time-display {
  font-size: $default-font-size;
  margin-bottom: 0.5rem;
}
// view

.view-container {
  position: relative;
  height: 100vh;
}
//global classes

#border-animation {
  height: 100%;
  position: absolute;
  width: 80%;
  left: 10%;
  border: 2px solid white;
  box-shadow: inset 0 0 1.5rem white, 0 0 1.5rem white;
  animation: silverBox 3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.section-box {
  font-size: 2rem;
  height: 100%;
  position: inherit;
  width: 80%;
  left: 10%;
  display: grid;
  grid-template: $template-rows / $template-cols;
  overflow: auto;
  z-index: 10;

  &.--align_content {
    align-content: center;
  }
}

.section-title {
  color: $primary-purple;
  font-size: 4rem;
  font-weight: 700;
}